#page_stats {

}

#page_stats .stats-ctn{
    top: 10%;
 
    
    position: relative;
    padding: 27px;
}

#page_stats .stats-ctn > div{
    margin-top: 50px;
    
}

#page_stats .stats-ctn > .container{
    position: relative;

}

#page_stats .stats-info{
    background-color: #9fc3e5;
    padding: 0px 27px;
}

#page_stats h1{
    font-size: 28px;
}

.stats-info ul {
    display: inline-block;

    float: right;
    width: 303px;
}

.stats-info ul li{
    text-align: left;
    
}

.stats-ctn h2{
    font-size: 20px;
    
    display: block;
}

.stats-info h2{
    font-size: 20px;
    display: inline-block;
    float: left;
}

.bottom-container h1{
    display: inline-block;

    float: left;
}

.mystats > div{
    margin: 15px 0;
    
}